@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #050505;
  overscroll-behavior: none;
}

body {
  overflow-x: hidden;
}

/* Custom Forensic Scrollbar */
.brc-scrollbar::-webkit-scrollbar {
  width: 4px;
  /* Thin track */
}

.brc-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  /* Low contrast track */
}

.brc-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  /* Subtle thumb */
  border-radius: 4px;
}

.brc-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 255, 128, 0.5);
  /* BRC Green tint on hover */
}

/* Firefox Support */
.brc-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.05);
}